<!-- Navigation -->
<nav class="navbar">
    <div class="d-flex">

      <div class="d-flex">
        <img class="self-center w-150" src="assets/img/Marvel_Logo.png" alt="Marvel_Logo">
      </div>

        <div class="">
          <ul class="">
            <li class="">
                <a class="" href="#">Contato</a>
            </li>
            <li class="">
                <a class="" href="#">Login</a>
            </li>
        </ul>
        </div>

    </div>
</nav>
<!-- FIM Navigation -->
