.navbar{
  background: #ffdada;
  height: 50px;
}

.nav-itens{
float: right;
padding-top: 15px;
padding-right: 15px;
}

.page-name{
  position: relative;
  bottom: 15px;
  margin-left: 25px;
  font-size: 18px;
  font-weight: 600;
  }
