.btn-footer{
  position: relative;
  top: 5px;
}

.card-heroes {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 20px 30px 40px;
  margin: 20px;
  width: 150px;
  height: 200px;
  transition: all 0.3s ease-out;
}

.card-heroes-search {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 20px 30px 40px;
  margin: 20px;
  width: 150px;
  height: 150px;
  transition: all 0.3s ease-out;
}

