
  <div class="d-flex f-wrap justify-center">
    <ng-container *ngFor="let heroes of heroesList">


      <div  [ngClass]="isSearch ? 'card-heroes-search text-center' : 'card-heroes text-center'"  class="">
        <div style="padding-bottom: 10px;">
          <span>ID: {{heroes.id}}</span>

        </div>

        <img class="m-auto d-flex w100 h100" [src]="heroes.thumbnail.path+'.'+heroes.thumbnail.extension">

        <div style="margin-top: 10px; height: 45px; text-overflow: ellipsis;">
          <span >Nome: {{heroes.name}}</span><br>
        </div>

        <div class="btn-footer" *ngIf="!isSearch">
          <button class="marvel-btn" (click)="readMore(heroes.id)">Ler Mais</button>
        </div>

      </div>


  </ng-container>


  </div>
