/* You can add global styles to this file, and also import other style files */
body{
  padding: 0px !important;
  margin: 0px !important;
  background-color: #ffefef;
}

span, li, ul, a, p{
  font-family: sans-serif;
}


//BOOTSTRAP MANUAL

.text-center{
  text-align: center !important;
}

.self-center{
  align-self: center !important;
}

.d-flex{
  display: flex !important;
}

.d-grid{
  display: grid !important;
}

.f18{
  font-size: 18px;
}

.f16{
  font-size: 16px;
}

.float-l{
  float: left;
}
.float-r{
  float: right;
}

.w-120{
  width: 120px;
}

.mr-1{
  margin-right: 5px !important;
}

.mr-2{
  margin-right: 10px !important;
}

.ml-1{
  margin-right: 5px !important;
}

.ml-2{
  margin-right: 10px !important;
}

.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
}
