/* You can add global styles to this file, and also import other style files */
body{
  padding: 0px 0px 50px 0px !important;
  margin: 0px !important;
  background-color: #ffefef;
}

h1, h2, h3, span, li, ul, a, p, button{
  font-family: sans-serif;
}


//BOOTSTRAP MANUAL

.text-center{
  text-align: center !important;
}

.self-center{
  align-self: center !important;
}

.d-flex{
  display: flex !important;
}

.d-grid{
  display: grid !important;
}

.f-wrap{
  flex-wrap: wrap;
}

.f18{
  font-size: 18px;
}

.f16{
  font-size: 16px;
}

.float-l{
  float: left;
}
.float-r{
  float: right;
}

.w-120{
  width: 120px;
}

.mr-1{
  margin-right: 5px !important;
}

.mr-2{
  margin-right: 10px !important;
}

.ml-1{
  margin-right: 5px !important;
}

.ml-2{
  margin-right: 10px !important;
}

.pt-1{
  padding-top: 5px !important;
}

.pt-2{
  padding-top: 10px !important;
}

.m-auto{
  margin: auto !important;
}

.justify-center{
  justify-content: center !important;
}


.w100{
  width: 100px;
}

.h100{
  height: 100px;
}

.w300{
  width: 300px;
}

.h300{
  height: 300px;
}


.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
}



.center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.marvel-btn{
  transition-duration: 0.4s;
  padding: 5px 20px;
    background: #ffdada;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.marvel-btn:hover {
  color: rgb(90, 25, 25);

}

